


.box{
background-color: rgb(224, 248, 254);
}

ion-content {
  background-color: rgb(224, 248, 254);
  border: 1px solid #e6e9ee;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
}

ion-list {
  background-color: rgb(224, 248, 254);

}
